[submodule "3rd/ssl-protos"]
	path = 3rd/ssl-protos
	url = https://github.com/kiksworks/ssl-protos.git
[submodule "3rd/yamlizer"]
	path = 3rd/yamlizer
	url = https://github.com/Tosainu/yamlizer.git
[submodule "3rd/fmt"]
	path = 3rd/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "config"]
	path = config
	url = https://github.com/AHSTE-SSL-H/ai-server-ssl-h-config
